<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.d0pam1n.doorphone">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DoorPhoneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" />

        <activity android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.MainActivity"
            android:launchMode="singleTask" />

        <receiver android:name=".BroadcastReceiver.SipEventReceiver">
            <intent-filter>
                <action android:name="com.d0pamin.siplib.INCOMING_CALL" />
                <action android:name="com.d0pamin.siplib.CALL_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.NetworkChangedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastReceiver.NotificationEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.d0pam1n.doorphone.NOTIF_ACCEPT_CALL" />
                <action android:name="com.d0pam1n.doorphone.NOTIF_OPEN_DOOR" />
                <action android:name="com.d0pam1n.doorphone.NOTIF_HANGUP_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>